/* variables */
:root{
     --bright-turquoise: #2aefcb;
     --primaryColor: rgb(49, 47, 57);
     --secondaryColor:  rgb(200, 50, 200);
}

::selection {
     background-color: var(--bright-turquoise);
     color: var(--primaryColor);
   }

/* For Mobile */

 *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
 }

 body{
      background-color: var(--primaryColor);
      font-family:sans-serif;
      color: var(--secondaryColor);
 }

 header,footer{
      text-align: center;
      margin: 5px 25px;
 }

 header p{
      color:white;
      margin-bottom: 25px;
 }

 pre{
      background-color: var(--secondaryColor);
      border: 1px black;
      border-radius: 10px;
      color: azure;
 }

 .card-container{
      display: flex;
      flex-wrap: wrap;
 }

 .cards{
      margin: 5px;
 }

 .cards p{
     margin-bottom: 10px;
}

 .cards div{
      margin:10px;
      padding:10px;
      width:90vw;
 }

 .cards h2{
      border: 1px solid white;
      border-radius: 10px;
 }

 fieldset{
      border: 2px dashed white; 
      height:310px;
 }

 legend{
      text-align: center;
 }


 .cards pre:active {
     user-select: all;
   }

.cards:hover{
     box-shadow: inset 5px 5px 5px 8px
     var(--secondaryColor), 0 0 15px
     var(--secondaryColor);
}
/* For Tablet */
@media screen and (min-width:850px){
 .cards div{
      width:45vw;
 }
}

/* For Desktop */
@media screen and (min-width:1200px){
 .cards div{
      width:30vw;
 }
}